@charset "UTF-8";


article {
	text-align: left;
}
div .profile {
	width:100%;
	height: 150px;
	margin-bottom: 2%;
	border:thin solid black;
}
div span {
	background-color: rgb(125,125,0,0.5);
}
